.nav-link{
    margin-right: 30px;
}
.carousel-inner img {
    width: 100%;
    max-height: 660px;
    max-width: 1300px;
    margin: auto;
}

.carousel-inner{
    height: auto;
}

h1{
    height: 80px;
    background-position: center;
    text-align: center;
    margin-bottom: 80px;
    color: teal;
}